<a href="https://colab.research.google.com/github/dahlia52/BAEKJOON/blob/main/10_%EC%A0%95%EB%A0%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.acmicpc.net/step/9

- 2750번 수 정렬하기

N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
list1 = []
for i in range(n):
  list1.append(int(input()))
list1.sort()
for i in range(n):
  print(list1[i])

5
5
2
3
4
1
1
2
3
4
5

- 2587번 대표값2

어떤 수들이 있을 때, 그 수들을 대표하는 값으로 가장 흔하게 쓰이는 것은 평균이다. 평균은 주어진 모든 수의 합을 수의 개수로 나눈 것이다. 예를 들어 10, 40, 30, 60, 30의 평균은 (10 + 40 + 30 + 60 + 30) / 5 = 170 / 5 = 34가 된다.

평균 이외의 또 다른 대표값으로 중앙값이라는 것이 있다. 중앙값은 주어진 수를 크기 순서대로 늘어 놓았을 때 가장 중앙에 놓인 값이다. 예를 들어 10, 40, 30, 60, 30의 경우, 크기 순서대로 늘어 놓으면

10 30 30 40 60

이 되고 따라서 중앙값은 30이 된다.

다섯 개의 자연수가 주어질 때 이들의 평균과 중앙값을 구하는 프로그램을 작성하시오

In [ ]:
list2 = []
for i in range(5):
  list2.append(int(input()))
list2.sort()
print(int(sum(list2)/5))
print(list2[2])

10
40
30
60
30
34
30

- 25305번	 커트라인

2022 연세대학교 미래캠퍼스 슬기로운 코딩생활에 $N$명의 학생들이 응시했다.

이들 중 점수가 가장 높은 $k$명은 상을 받을 것이다. 이 때, 상을 받는 커트라인이 몇 점인지 구하라.

커트라인이란 상을 받는 사람들 중 점수가 가장 가장 낮은 사람의 점수를 말한다.

In [ ]:
n, k = map(int, input().split())
score = list(map(int, input().split()))
score.sort()
print(score[-k])

5 2
100 76 85 93 98
98

-	2751번 수 정렬하기 2

N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

In [ ]:
# 시간초과
n = int(input())
list3 = []
for i in range(n):
  list3.append(int(input()))
list3.sort()
for i in range(n):
  print(list3[i])

5
5
4
3
2
1
1
2
3
4
5

위 코드를 Python 대신 PyPy3에서 실행 시, 시간초과 X

PyPy3는 실행 시 자주 쓰이는 코드를 캐싱하는 기능이 있기 때문에 즉, 메모리를 조금 더 사용하여 저장하고 있어 실행속도를 개선할 수 있음.

  - 간단한 코드에서는 Python3가 메모리, 속도 측에서 우세함.

  - 복잡한 코드(반복)을 사용하는 경우에는 PyPy3가 우세함.

시간 초과 해결 >> input() 대신 sys.stdin.readline() 이용

input()함수는 promt message를 출력하고 개행 문자를 삭제한 값(rstrip() 적용)을 리턴하기 때문에 느림. 

  참고: https://lute3r.tistory.com/m/240

In [ ]:
import sys
n = int(input())
list3 = []
for i in range(n):
  list3.append(int(sys.stdin.readline()))
list3.sort()
for i in range(n):
  print(list3[i])

In [ ]:
# 합병정렬 - 시간초과
import sys
sys.setrecursionlimit(10**4)
def merge_sort(v):
  if len(v) <=1:
    return v
  mid = len(v)//2
  left = merge_sort(v[:mid])
  right = merge_sort(v[mid:])

  i, j, k = 0, 0, 0
  while (i< mid and j < len(right)):
    if left[i] > right[j]:
      v[k] = right[j]
      j+=1
    else:
      v[k] = left[i]
      i+=1
    k+=1
  while i < mid:
    v[k] = left[i]
    k+=1
    i+=1
  while j < len(right):
    v[k] = right[j]
    k+=1
    j+=1
  return v
  
n = int(input())
list3 = []
for i in range(n):
  list3.append(int(sys.stdin.readline()))
list3 = merge_sort(list3)
for i in list3:
  print(i)

5
2
5
4
3
1
1
2
3
4
5

- 10989번 수 정렬하기 3

N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

In [ ]:
# 시간 초과
import sys
n = int(input())
list3 = []
for i in range(n):
  list3.append(int(input()))
list3.sort()
for i in range(n):
  print(list3[i])

- 시간 초과 해결 >> for 문에서 append를 사용하면 메모리 재할당이 이루어져 효율적이지 않음. 입력값이 1000까지 주어질 수 있으므로 이 크기의 **리스트를 만들어놓고, 입력을 받을 때마다 +1을 해줌**.

참고: https://yoonsang-it.tistory.com/49

In [ ]:
list4 = [0]*10000
n = int(input())
for i in range(n):
  list4[int(input())-1] += 1
for i in range(10000):
  for j in range(list4[i]):
    print(i+1)

10
5
2
1
3
4
2
3
5
1
7
1
1
2
2
3
3
4
5
5
7

In [ ]:
import sys
list4 = [0]*10000
n = int(input())
for i in range(n):
  list4[int(sys.stdin.readline())-1] += 1
for i in range(10000):
  for j in range(list4[i]):
    print(i+1)

- 2108번 통계학

수를 처리하는 것은 통계학에서 상당히 중요한 일이다. 통계학에서 N개의 수를 대표하는 기본 통계값에는 다음과 같은 것들이 있다. 단, N은 홀수라고 가정하자.

산술평균 : N개의 수들의 합을 N으로 나눈 값

중앙값 : N개의 수들을 증가하는 순서로 나열했을 경우 그 중앙에 위치하는 값

최빈값 : N개의 수들 중 가장 많이 나타나는 값

범위 : N개의 수들 중 최댓값과 최솟값의 차이

N개의 수가 주어졌을 때, 네 가지 기본 통계값을 구하는 프로그램을 작성하시오.

In [32]:
# 시간초과 예상됨
n = int(input())
list5 = []
for i in range(n):
  list5.append(int(input()))
list5.sort()
ct = []
max_ct = 0
for i in list(set(list5)):
  k = list5.count(i)
  if max_ct < k:
    ct = []
    max_ct = k
    ct.append(i)
  elif max_ct == k:
    ct.append(i)
ct.sort()
if len(ct)>=2:
  mode = ct[1]
else:
  mode = ct[0]
print(int(round(sum(list5)/n, 0)))
print(list5[n//2])
print(mode)
print(max(list5) - min(list5))

5
1
3
8
-2
2
2
2
1
10

In [35]:
n = int(input())
list5 = []
ct = [0 for i in range(8001)]
for i in range(n):
  k = int(input())
  list5.append(k)
  ct[k+4000] += 1
ct_index = []
for i in range(len(ct)):
  if ct[i] == max(ct):
    ct_index.append(i-4000)
list5.sort()
print(int(round(sum(list5)/n, 0)))
print(list5[n//2])
if len(ct_index) == 1:
  print(ct_index[0])
else:
  print(ct_index[1])
print(max(list5) - min(list5))

1
4000
4000
4000
4000
0

In [ ]:
# 맞음
import sys
n = int(input())
list5 = []
ct = [0 for i in range(8001)]
for i in range(n):
  k = int(sys.stdin.readline())
  list5.append(k)
  ct[k+4000] += 1
ct_index = []
for i in range(len(ct)):
  if ct[i] == max(ct):
    ct_index.append(i-4000)
list5.sort()
print(int(round(sum(list5)/n, 0)))
print(list5[n//2])
if len(ct_index) == 1:
  print(ct_index[0])
else:
  print(ct_index[1])
print(max(list5) - min(list5))

- Counter 라이브러리 이용

colors = Counter(['A','B','A'])

colors.most_common()

참고: https://velog.io/@jaenny/%EB%B0%B1%EC%A4%80-2108-%ED%86%B5%EA%B3%84%ED%95%99-Python%ED%8C%8C%EC%9D%B4%EC%8D%AC

In [38]:
from collections import Counter
n = int(input())
list5 = []
for i in range(n):
  list5.append(int(input()))
list5.sort()
list6 = Counter(list5).most_common()
print(int(round(sum(list5)/n, 0)))
print(list5[n//2])
if len(list6) >= 2:
  print(list6[1][0])
else:
  print(list6[0][0])
print(max(list5) - min(list5))

5
-1
-2
-3
-1
-2
-2
-2
-1
2

-	1427번 소트인사이드

배열을 정렬하는 것은 쉽다. 수가 주어지면, 그 수의 각 자리수를 내림차순으로 정렬해보자.

In [ ]:
a = input()
list1 = []
for i in range(len(a)):
  list1.append(a[i])
list1.sort(reverse=True)
for i in range(len(a)):
  print(list1[i], end="")

500613009
965310000

-	11650번 좌표 정렬하기

첫째 줄에 점의 개수 N (1 ≤ N ≤ 100,000)이 주어진다. 둘째 줄부터 N개의 줄에는 i번점의 위치 xi와 yi가 주어진다. (-100,000 ≤ xi, yi ≤ 100,000) 좌표는 항상 정수이고, 위치가 같은 두 점은 없다.

In [ ]:
# 시간 초과
n = int(input())
x_list = []
y_list = []
y_list_sorted = []
for i in range(n):
  a,b = map(int, input().split())
  x_list.append(a)
  y_list.append(b)
x_list_sorted = sorted(x_list) # x좌표 정렬
for i in set(x_list_sorted): # x좌표에 따른 y좌표 정렬
  for j in range(n):
    if i == x_list[j]:
      y_list_sorted.append(y_list[j])
for i in set(x_list_sorted): # x좌표가 동일한 경우에 대해 y좌표 정렬
  ct = x_list.count(i)
  if ct >= 2:
    y_list_sorted[x_list_sorted.index(i):x_list_sorted.index(i)+ct+1] = sorted(y_list_sorted[x_list_sorted.index(i):x_list_sorted.index(i)+ct+1])
for i in range(n):
  print(x_list_sorted[i], y_list_sorted[i])

5
3 4
1 1
1 -1
2 2
3 3
1 -1
1 1
2 2
3 3
3 4

In [ ]:
# 시간초과
n = int(input())
x_list = []
y_list = []
y_list_sorted = []
for i in range(n):
  a,b = map(int, input().split())
  x_list.append(a)
  y_list.append(b)
x_list_sorted = sorted(x_list) # x좌표 정렬
for i in set(x_list_sorted): # x좌표에 따른 y좌표 정렬
  dup = []
  for j in range(n):
    if i == x_list[j]:
      dup.append(y_list[j])
      dup.sort()
  y_list_sorted += dup
for i in range(n):
  print(x_list_sorted[i], y_list_sorted[i])

5
3 4
1 1
1 -1
2 2
3 3
1 -1
1 1
2 2
3 3
3 4

- **list.sort(key=lambda x: 정렬을 목적으로 하는 함수)**
   
   ex. list.sort(key=lambda x: len(x))

- **sorted(list, key=함수)**

  ex. sorted(list, key=len)

참고: https://pacific-ocean.tistory.com/139

In [ ]:
n = int(input())
xy = []
for i in range(n):
  xy.append(list(map(int, input().split())))
xy.sort(key=lambda x: (x[0], x[1]))
for i in range(n):
  print(xy[i][0], xy[i][1])

5
3 4
1 1
1 -1
2 2
3 3
1 -1
1 1
2 2
3 3
3 4

In [ ]:
import sys
n = int(input())
xy = []
for i in range(n):
  xy.append(list(map(int, sys.stdin.readline().split())))
xy.sort(key=lambda x: (x[0], x[1]))
for i in range(n):
  print(xy[i][0], xy[i][1])

- **리스트 안에 리스트 형태로 넣으면 내장함수 sort, sorted가 알아서 정렬**

In [ ]:
list1 = [[3,3],[1,9],[4,2],[1,2],[3,1]]
list1.sort()
list1

[[1, 2], [1, 9], [3, 1], [3, 3], [4, 2]]

참고: https://wook-2124.tistory.com/464

In [ ]:
n = int(input())
xy = []
for i in range(n):
  xy.append(list(map(int, input().split())))
xy.sort()
for i in range(n):
  print(xy[i][0], xy[i][1])

5
3 4
1 1
1 -1
2 2
3 3
1 -1
1 1
2 2
3 3
3 4

In [ ]:
import sys
n = int(input())
xy = []
for i in range(n):
  xy.append(list(map(int, sys.stdin.readline().split())))
xy.sort()
for i in range(n):
  print(xy[i][0], xy[i][1])

 - 11651번 좌표 정렬하기 2

2차원 평면 위의 점 N개가 주어진다. 좌표를 y좌표가 증가하는 순으로, y좌표가 같으면 x좌표가 증가하는 순서로 정렬한 다음 출력하는 프로그램을 작성하시오.

In [ ]:
import sys
n = int(input())
xy = []
for i in range(n):
  xy.append(list(map(int, input().split())))
xy.sort(key=lambda x: (x[1], x[0]))
for i in range(n):
  print(xy[i][0], xy[i][1])

5
0 4
1 2
1 -1
2 2
3 3
1 -1
1 2
2 2
3 3
0 4

In [ ]:
import sys
n = int(input())
xy = []
for i in range(n):
  xy.append(list(map(int, sys.stdin.readline().split())))
xy.sort(key=lambda x: (x[1], x[0]))
for i in range(n):
  print(xy[i][0], xy[i][1])

- 1181번 단어 정렬

알파벳 소문자로 이루어진 N개의 단어가 들어오면 아래와 같은 조건에 따라 정렬하는 프로그램을 작성하시오.

1. 길이가 짧은 것부터
2. 길이가 같으면 사전 순으로

In [ ]:
n = int(input())
words = []
for i in range(n):
  words.append(input())
words = list(set(words))
words.sort(key=lambda x: (len(x), x))
for w in words:
  print(w)

13
but
i
wont
hesitate
no
more
no
more
it
cannot
wait
im
yours
i
im
it
no
but
more
wait
wont
yours
cannot
hesitate

In [ ]:
# 출력 형식이 잘못됨 - sys.stdin.readline()은 \n\을 포함하는 입력이기 때문에 연속으로 값을 입력받는 for문에서 에러 발생
import sys
n = int(input())
words = []
for i in range(n):
  words.append(sys.stdin.readline())
words = list(set(words))
words.sort(key=lambda x: (len(x), x))
for w in words:
  print(w)

참고: https://velog.io/@1204jh/1181

In [ ]:
# strip() 추가
import sys
n = int(input())
words = []
for i in range(n):
  words.append(sys.stdin.readline().strip())
words = list(set(words))
words.sort(key=lambda x: (len(x), x))
for w in words:
  print(w)

- 10814번 나이순 정렬

온라인 저지에 가입한 사람들의 나이와 이름이 가입한 순서대로 주어진다. 이때, 회원들을 나이가 증가하는 순으로, 나이가 같으면 먼저 가입한 사람이 앞에 오는 순서로 정렬하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
mem = []
for i in range(n):
  mem.append(list(input().split())+[str(i)])
mem.sort(key=lambda x: (int(x[0]), int(x[2]))) # 나이, 인덱스 비교시에는 숫자형으로
for i in range(n):
  print(mem[i][0], mem[i][1])

5
7 June
29 He
28 she
7 ke
7 skf
7 June
7 ke
7 skf
28 she
29 He

In [ ]:
import sys
n = int(input())
mem = []
for i in range(n):
  mem.append(list(sys.stdin.readline().split())+[str(i)])
mem.sort(key=lambda x: (int(x[0]), int(x[2])))
for i in range(n):
  print(mem[i][0], mem[i][1])

-	18870번 좌표 압축

수직선 위에 N개의 좌표 X1, X2, ..., XN이 있다. 이 좌표에 좌표 압축을 적용하려고 한다.

Xi를 좌표 압축한 결과 X'i의 값은 Xi > Xj를 만족하는 서로 다른 좌표의 개수와 같아야 한다.

X1, X2, ..., XN에 좌표 압축을 적용한 결과 X'1, X'2, ..., X'N를 출력해보자.

In [ ]:
# 시간초과 - index(): O(n)
n = int(input())
coord = list(map(int, input().split()))
coord_sort = sorted(list(set(coord))) # 정렬 후 인덱스 값을 프린트하면 됨
for num in coord:
  print(coord_sort.index(num), end=" ")

5
2 4 -10 4 -9
2 3 0 3 1

참고: https://gudwns1243.tistory.com/52

In [ ]:
# dict[i] - O(1)
n = int(input())
coord = list(map(int, input().split()))
coord_sort = sorted(list(set(coord))) 
dic = {coord_sort[i]: i for i in range(len(coord_sort))} # key: 입력값, value: 인덱스
for i in coord:
  print(dic[i], end=" ")

5
2 4 -10 4 -9
2 3 0 3 1

In [ ]:
import sys
n = int(input())
coord = list(map(int, sys.stdin.readline().split()))
coord_sort = sorted(list(set(coord))) 
dic = {coord_sort[i]: i for i in range(len(coord_sort))}
for i in coord:
  print(dic[i], end=" ")